/* 
 * Rookery New Font Face Declarations
 * 
 * Font files in this directory:
 * - RookeryNew-Regular.ttf
 * - RookeryNew-Medium.ttf
 * - RookeryNew-Bold.ttf
 */

@font-face {
  font-family: 'Rookery New';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./RookeryNew-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rookery New';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./RookeryNew-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rookery New';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./RookeryNew-Bold.ttf') format('truetype');
}
